main
{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    column-gap: 0px;
}


.setting
{
    display: flex;
    flex-direction: row;

    margin-left: 0px;
}

.setting .setting-gear
{
    background-color: transparent;
    border: 0px solid;
}

.setting .fa-gear
{
    font-size: 2em;
}

.setting .fa-gear:hover #dropdown-menu
{
    display: block;
}

.setting #dropdown-menu
{
    display: none;
    background-color: darkgrey;
    border: 2px solid;

    width: auto;
    height: auto;
}

#display-number
{
    background-color: rgb(206, 206, 206);
    
    border-radius: 30px;

    padding: 10px;
    font-size: 14em;
    margin: 0px;
    padding: 0px;

    transition: all 0.3s ease 0s;
}

.button-container
{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}

.function-buttons
{
    background-color: rgb(240, 240, 240);
    margin: 0px;

    width: 200px;
    height: 50px;
    font-size: 2em;

    border: 1.7px solid black;
    border-radius: 15px;
    margin-top: 20px;

    transition:
    background-color 0.3s ease-in-out 0s ,
    transform 0.4s ease 0s,
    box-shadow 0.3s ease 0s;
}

#milisec-dis
{
    font-size: 0.4em;
}

.function-buttons:hover
{
    background-color: rgb(251, 245, 245);
    transform: scale(1.03);
    box-shadow: 2px 2px 70px rgb(171, 171, 171);
}

.function-buttons:active
{
    background-color: rgb(241, 182, 143);
    box-shadow: 5px 5px 100px rgb(250, 148, 81);
    transform: scale(1.2) translateY(7px);

}

.paused
{
    background-color: rgb(62, 62, 62) !important;
    border-radius: 30px;
    opacity: 0.7;
    color: rgb(205, 205, 205);
    transform: scale(0.96) translateY(3px);
    border: 1.5px solid;
}

.startBut-paused-state
{
    opacity: 0.4;
    transform: scale(0.93) translateY(2px);
}

.pauseBut-paused-state
{
    border: 1.9px solid black;
    transform: scale(1.04);
    box-shadow: 1px 1px 50px rgb(239, 120, 120);

}

#program-status
{
    margin-top: 15px;
    font-size: 3em;
}